.BlogContent {
  > * + * {
    margin-top: .75rem;
  }

  h1 {
    font-family: 'newzald-bold';
    font-size: 30px;
    text-transform: lowercase;
  }

  h2 {
    font-family: "basic-sans";
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  h3 {
    font-family: "basic-sans";
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
