$color-pink: #f8aa97;
$color-black: darken($color-pink, 75%);
$color-white: #fffcfb;
$color-gray: #ccc2b8;
$color-yellow: #ffc233;
$color-red: #f04e30;

$width-wide: 64rem;
$width-full: 48rem;
$width-medium: 46rem;
$width-small: 32rem;

$mq-small: 24em; /* 24 x 16 = 384 */
$mq-medium: 40em; /* 40 x 16 = 640 */
$mq-large: 64em; /* 64 x 16 = 1024 */
