$color-pink: #F8AA97;
$color-black: darken($color-pink, 75%);
$color-white: lighten(#F8AA97, 21%);
$color-gray: #CCC2B8;
$color-yellow: #FFC233;
$color-red: #F04E30;

$width-wide: 64rem;
$width-full: 48rem;
$width-medium: 42rem;
$width-small: 32rem;

