@import '../styles/variables';

.Blog {
  background-color: $color-white;
}

.YellowSection {
  background-color: $color-yellow;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.Action {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
}
