@import '../styles/variables';

.Button {
  text-decoration: none;
  background-color: $color-red;
  padding: .5rem 1rem;
  color: $color-white;
  font-family: "basic-sans";
  transition: background-color 200ms ease;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;

  @media screen and (min-width: $width-constrained) {
    padding: .75rem 1.25rem;
  }

  &:focus,
  &:hover {
    background-color: darken($color-red, 15%);
  }
}
