@import '../styles/variables';

.Button {
  text-decoration: none;
  font-family: 'basic-sans', sans-serif;
  transition: background-color 200ms ease;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.primary {
  background-color: $color-pink;
  color: $color-white !important;
  border: none;

  &:focus,
  &:hover {
    background-color: darken($color-pink, 5%);
  }
}

.outline {
  background-color: transparent;
  color: $color-white !important;
  border: 2px solid $color-white;

  &:focus,
  &:hover {
    background-color: rgba($color-pink, 0.9);
  }
}
