@import '../styles/variables';

$image-spacing-unit: 1.5rem;

.Contact {
  background-color: $color-white;
}

.Figure {
  position: relative;
  padding-top: $image-spacing-unit;
  max-width: $width-small;
  margin: 0 auto;
}

.LeftBlock,
.RightBlock {
  width: 60%;
  display: none;

  @media screen and (min-width: $mq-medium) {
    display: initial;
  }
}

.LeftBlock {
  position: absolute;
  z-index: 2;
  top: $image-spacing-unit * -1;
  left: $image-spacing-unit * -1;
}

.RightBlock {
  position: absolute;
  z-index: 2;
  bottom: $image-spacing-unit * -2;
  right: $image-spacing-unit * -1;
}

.Contact {
  color: $color-white;
  padding: 4rem 0 10rem;

  &.dots {
    background-image: url('../images/dots-square.png');
    background-repeat: repeat;
    background-size: 173px 169px;
    background-position: center top;
    padding: 2rem 0 4rem;

    @media screen and (min-width: $mq-medium) {
      padding: 10rem 0 10.75rem;
    }
  }
}

.FormContainer {
  margin: 0 auto;
  background-color: $color-gray;
  padding: 2rem;
  box-sizing: border-box;
  width: calc(100% - 3rem);
  margin: 1.5rem;
  position: relative;
  z-index: 3;

  @media screen and (min-width: $mq-medium) {
    margin: 0 auto;
    width: 92%;
    padding: 4rem 3rem 5rem;
  }
}

.FormSection {
  > label {
    width: 100%;
  }

  margin-top: 2rem;
}

.FormLabel {
  font-family: 'basic-sans';
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 0.5rem;
  display: block;
}

.TextField {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  transition: border, box-shadow 200ms ease;
  border: 4px solid lighten($color-gray, 12%);
  font-size: 16px;
  font-family: 'basic-sans';
  outline: none;
  appearance: none;
  background-color: lighten($color-white, 0.0625%);

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px $color-pink;
  }
}

.tall {
  min-height: 12rem;
  resize: none;
}
