@import '../styles/variables';

.Footer {
  max-width: $width-medium;
  margin: 0 auto;
}

.PinkSection {
  background-color: $color-pink;
  color: $color-white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
