@import '../styles/variables';

.FooterOuterContainer {
  background-color: $color-white;
}

.Footer {
  background-color: $color-yellow;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.Logo {
  width: 14rem;

  @media screen and (min-width: $mq-small) {
    margin: 0;
  }

  svg {
    fill: $color-white;
  }
}

.YellowSection {
  background-color: $color-yellow;
  color: $color-white;
}

.FooterContainer {
  max-width: $width-small;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'basic-sans', sans-serif;
  font-weight: 300;
  padding: 0;

  @media (min-width: $mq-tiny) {
    flex-direction: row;
  }

  a {
    color: $color-white !important;
  }
}

.FooterContainer + .FooterContainer {
  padding-top: 1rem;
}

.Item {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.Icon {
  fill: $color-white;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;

  svg {
    width: 100%;
    height: auto;
  }
}
