@import '../styles/variables';

.GalleryContainer {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 4rem;
}

.Gallery {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  max-width: $width-wide;
}

.Column {
  max-height: 458px;
  overflow: hidden;
  border-radius: 2px;

  img + img {
    margin-top: 1.5rem;
  }
}
