@import '../styles/variables';

.YellowSection {
  background-color: $color-yellow;
  height: 2rem;
}

.Logo {
  display: flex;
  justify-content: center;

  > * {
    width: 188px;
    height: 172px;
  }
}

.HeaderContainer {
  margin-top: 4rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $width-medium;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
