@import '../styles/variables';

.Header {
  position: relative;
  z-index: 40;
}

.BorderContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.HeaderContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.HeaderInnerContainer {
  display: flex;
  max-width: $width-wide;
  width: 100%;
  padding: 0 2rem;
}

.Logo {
  display: flex;

  > * {
    width: 8rem;
    height: auto;
  }

  @media (min-width: $mq-large) {
    padding-right: 4rem;

    > * {
      width: 12rem;
    }
  }
}

.Navigation {
  list-style: none;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 90%;
  display: none;

  @media (min-width: $mq-large) {
    display: flex;
  }
}

.Item {
  display: block;
}
