@import '../styles/variables';

.Heading {
  margin-bottom: .75em;
}

.levelOne {
  font-family: 'newzald-bold';
  font-size: 36px;
  text-transform: lowercase;
}

.levelTwo {
  font-family: 'newzald-bold';
  font-size: 30px;
  text-transform: lowercase;
}

.levelThree {
  font-family: "basic-sans";
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.levelFour {
  font-family: "basic-sans";
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.centered {
  text-align: center;
  margin-left: 0;
}
