@import '../styles/variables';

.Hero {
  background-color: $color-white;
  position: relative;
}

.Figure {
  margin: 0;
  position: relative;
  z-index: 10;
}

.Image {
  position: relative;
  margin: 0 auto;
  z-index: 30;
  max-height: 15rem;
  overflow: hidden;

  &.short {
    max-height: 8rem;
  }

  @media (min-width: $mq-tiny) {
    max-height: 22rem;

    &.short {
      max-height: 11rem;
    }
  }

  @media (min-width: $mq-small) {
    max-height: 30rem;

    &.short {
      max-height: 15rem;
    }
  }

  @media (min-width: $mq-large) {
    max-height: 55rem;

    &.short {
      max-height: 32rem;
    }
  }

  img {
    width: 100%;
    height: auto;
    filter: brightness(0.9) saturate(1.1);
  }
}

.ContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem;

  @media (min-width: $mq-large) {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
  }
}

.ContentInnerContainer {
  max-width: $width-full;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Content {
  max-width: $width-medium;
  padding-bottom: 2rem;
  box-sizing: border-box;

  @media (min-width: $mq-large) {
    color: $color-white;
  }
}

.Border {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 40;
  width: 100%;
}
