@import '../styles/variables';

.Media {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 2rem auto 0;
  flex-direction: column;
  padding: 2rem;

  @media screen and (min-width: $width-medium) {
    padding: 0;
    flex-direction: row;
  }
}

.narrowWidth {
  max-width: $width-small;
}

.fullWidth {
  max-width: $width-full;
}

.wideWidth {
  max-width: $width-wide;
}

.Image {
  padding: 0 4% 4rem 0;
  flex: 1 0 100%;

  @media screen and (min-width: $width-medium) {
    padding: 0 4% 2rem 0;
    flex: 1 0 30%;
  }
}

.Content {
  flex: 1 0 100%;
  @media screen and (min-width: $width-medium) {
    flex: 1 0 66%;
  }
}

.rightAligned {
  @media screen and (min-width: $width-medium) {
    flex-direction: row-reverse;
  }

  .Image {
    padding: 0 0 2rem 4%;
  }
}

$push-offset: 6rem;

.pushRight {
  @media screen and (min-width: $width-medium) {
    padding-left: $push-offset;
    padding-right: 1rem;
  }
}

.pushLeft {
  @media screen and (min-width: $width-medium) {
    padding-right: $push-offset;
    padding-left: 1rem;
  }
}
