@import '../styles/variables';

.Page {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  width: 100%;
}

.PageContainer {
  padding: 2rem 0 6rem;
  max-width: $width-medium;

  > * + * {
    margin-top: 2rem;
  }
}
