@import '../styles/variables';

.Page {
  background-color: $color-white;
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: $mq-medium) {
    padding-bottom: 1rem;
  }
}

.PageContainer {
  max-width: $width-medium;
}
