@import '../styles/variables';

.Text {
  line-height: 1.5;
  font-size: 16px;
  font-family: "basic-sans";
  font-weight: 300;

  p {
    margin-bottom: 1.25em;
  }
}

.lead {
  margin-top: 2rem;
  font-size: 24px;
}

.centered {
  text-align: center;
}

.indented {
  @media screen and (min-width: $width-small) {
    padding-left: 2rem;
  }
}

.indented.lead {
  @media screen and (min-width: $width-small) {
    padding-left: 2rem;
  }
}
