@import '../styles/variables';

.Text {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'basic-sans';
  font-weight: 300;
  padding: 0.5rem 0;

  p + p {
    margin-top: 1rem;
  }

  a {
    &:link,
    &:active,
    &:visited {
      color: $color-red;
      transition: color ease-in 0.2s;
    }

    &:hover {
      color: darken($color-red, 10%);
    }
  }
}

.lead {
  font-family: 'newzald-bold';
  line-height: 1.125;
  font-size: 30px;

  @media (min-width: $mq-medium) {
    font-size: 36px;
  }
}

.impact {
  font-size: 20px;
  line-height: 1.5;
}

.centered {
  text-align: center;
}

.indented {
  @media screen and (min-width: $mq-small) {
    padding-left: 2rem;
  }
}

.indented.lead {
  @media screen and (min-width: $mq-small) {
    padding-left: 2rem;
  }
}
